simpy==4.1.1
plotly==5.22.0
pandas==2.2.2
#diskcache==5.6.3
celery==5.4.0
dash[diskcache]==2.17.0
numpy==1.26.4
dash_auth==2.3.0
kaleido==0.2.1
dash-bootstrap-components==1.6.0
PyYAML==6.0.1
jsonschema==4.22.0
openpyxl==3.1.2
